mixin DraftImage
	template#draft-image
		.draft-image(aria-hidden="true")
			.draft-image__wrap
				img.draft-image__picture(alt="")
				svg.draft-image__spinner(xmlns:xlink="http://www.w3.org/1999/xlink" role="none")
					use(xlink:href="#logo")
