include ../IconBack/IconBack

mixin Projects(hide)
	section.projects(hidden=!hide class=(hide ? "projects--show" : ""))
		.projects__heading
			a.projects__back(href="/" aria-hidden="Вернуться на главную страницу")
				+IconBack
			h1.projects__title Последние работы

		.projects__list
