{#if !hide}
  <main
    class={cx(
      styles.root,
      {[styles.rootAnimation]: animate},
      "js-projects",
    )}
  >
    <div
      class={cx(
        styles.wrap,
        {[styles.wrapShow]: animate},
      )}
    >
      <div class={styles.heading}>
        <a href="/" class={styles.back} aria-label={Dictionary.goToHome}>
          <IconBack/>
        </a>

        <h1 class={styles.title}>{Dictionary.headings.projects}</h1>
      </div>

      {#if projects.length === 0}
        <IconLoading/>
      {:else}
        {#each projects as project}
          <ProjectCard {...project}/>
        {/each}
      {/if}
    </div>
  </main>
{/if}

{#if force}
  <div class={styles.rootInvisible}>
    <h1>{Dictionary.headings.projects}</h1>
  </div>
{/if}

<script>
  import cx from "classnames";
  import styles from "./Projects.module.scss";

  import {apiUrl} from "../../utils/settings";
  import {Dictionary} from "../../utils/Dictionary";

  export default {
    helpers: {
      cx,
      styles,
      Dictionary,
    },

    components: {
      IconBack: "../IconBack/IconBack.html",
      IconLoading: "../IconLoading/IconLoading.html",
      ProjectCard: "../ProjectCard/ProjectCard.html",
    },

    oncreate() {
      const { show } = this.get();

      const request = new XMLHttpRequest();
      request.open("get", `${apiUrl}/project-list`, true);

      request.onreadystatechange = () => {
        if (request.readyState !== XMLHttpRequest.DONE || request.status !== 200) {
          return;
        }

        if (request.responseText) {
          const projects = JSON.parse(request.responseText);

          if (Array.isArray(projects)) {
            this.set({
              projects,
            });
          }
        }
      };

      request.send();

      this.set({
        animate: show,
        hide: !show,
      });
    },

    onupdate({ changed, current, previous }) {
      const {show, hide} = current;
      const prevShow = previous ? previous.show : false;

      if (!show && !hide && prevShow) {
        this.set({
          animate: false,
        });

        window.scrollTo({
          top: 0,
        });

        setTimeout(() => {
          if (!show) {
            this.set({
              hide: true,
            });
          }
        }, 700);
      }
      else if (show && hide && !prevShow) {
        this.set({
          hide: false,
        });

        setTimeout(() => {
          this.set({
            animate: true,
          });

          window.scrollTo({
            top: 0,
          });
        }, 60);
      }
    },

    data: () => ({
      animate: false,
      hide: true,
      projects: [],
    }),
  };
</script>
