@import "../../styles/var";

.root {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100%;
	max-width: $maxWidth;
	margin: 0 auto;

	&::before,
	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 50vh;
		background: #fff;
		opacity: 0;
		transition: $timeTransitionProjects;
    transition-property: transform, opacity;
		transition-delay: $transition;
		transform: translateX(-100%);
	}

	&::after {
		top: 50vh;
		transform: translateX(100%);
	}
}

    .rootInvisible {
      @extend %visually-hidden;
    }

		.rootAnimation {
			&::before,
			&::after {
				transform: translateX(0);
				opacity: 1;
				transition-delay: 0s;
			}
		}

	//noinspection CssReplaceWithShorthandSafely
	.wrap {
		width: 100%;
		min-height: 100%;
		position: relative;
		z-index: 4;
		opacity: 0;
		visibility: hidden;
		transition: $transition;
		transition-delay: 0s;
		max-width: $maxWidth;
		margin: 0 auto;
		box-sizing: border-box;
		padding: $offsetWrap;
		padding-right: calc(var(--wrap-left) + #{$offsetWrap});
		padding-left: calc(var(--wrap-right) + #{$offsetWrap});
		background: #fff;
	}

		.wrapShow {
			opacity: 1;
			visibility: visible;
			transition-delay: $timeTransitionProjects;
		}

			.heading {
				display: flex;
				align-items: center;
				margin: 0 0 px2rem(40);
				padding: 0 calc(14px + 1rem) 0 0;
			}

				.back {
					@include link;
					display: block;
					height: 20px;
					margin: 0 1rem 0 -4px;
					padding: 3px 4px 3px 3px;
				}

				.title {
					font-weight: 400;
					font-size: $title-size;
          line-height: $title-line-height;
					margin: 0;
					padding: 0;
					flex: 1 1 auto;
					text-align: center;
				}
