include ../../components/Home/Home
include ../../components/Projects/Projects
include ../../components/Draft/Draft
include ../../components/DraftImage/DraftImage
include ../../components/Error/Error

mixin body(type)
	-
		var isHome = false;
		var isProjects = false;
		var isError = false;

		switch (type) {
			case "home":
				isHome = true;
				break;

			case "projects":
				isProjects = true;
				break;

			case "error":
				isError = true;
				break;
			}

	body
		main#a
			block

			+Home(isHome)
			+Projects(isProjects)
			+Error(isError)

		+Draft
		+DraftImage

		div
			img(src="https://mc.yandex.ru/watch/52864804" style="position:absolute; left:-9999px;" alt="")

		script(src="../index.ts")
