include ../../components/Home/Home
include ../../components/Projects/Projects
include ../../components/Draft/Draft
include ../../components/DraftImage/DraftImage

mixin body
	body
		main#a
			block

			+Home
			+Projects

		+Draft
		+DraftImage

		script(src="../index.ts")
