include ../../components/Home/Home
include ../../components/Projects/Projects
include ../../components/Draft/Draft
include ../../components/DraftImage/DraftImage

mixin body(isHome)
	body
		main#a
			block

			+Home(isHome)
			+Projects(!isHome)

		+Draft
		+DraftImage

		div
			img(src="https://mc.yandex.ru/watch/52864804" style="position:absolute; left:-9999px;" alt="")

		script(src="../index.ts")
