.photo {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto var(--base-line-height);
  overflow: hidden;
}

.photo::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background: var(--brand-color);
  border-radius: 50%;
  transform: skew(35deg);
  animation: photo-wafer 15s infinite;
}

.photo__image {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0 0;
}

@media (max-width: 500px) {
  .photo {
    width: 150px;
    height: 150px;
    margin: 0 auto calc(var(--base-line-height) / 2);
  }
}

@keyframes photo-wafer {
  0%,
  100% {
    transform: skew(35deg);
  }

  60% {
    transform: skew(-35deg);
  }
}
