.photo {
	width: 250px;
	height: 250px;
	background: var(--brand);
	border-radius: 40px 53% 40px 53% / 40% 53% 40% 53%;
	margin: 0 auto var(--base-line-height);
}

	.photo__image {
		display: block;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: 0 0;
		border-radius: 50%;
		overflow: hidden;
		z-index: 1;
	}

@media (max-width: 500px) {
	.photo {
		width: 150px;
		height: 150px;
		margin: 0 auto calc(var(--base-line-height) / 2);
	}
}

@media (prefers-color-scheme: dark) {
	.photo {
		background: var(--brand-for-dark);
	}
}
