:root {
  /* Colors */
  --background-color: #fff;
  --text-color: #222;
  --brand-text-color: #fff;
  --brand-color: #d82a4a;

  /* Sizes */
  --base-line-height: 26px;
  --section-bottom-offset: calc(1 * var(--base-line-height));

  /* Times */
  --transition: 0.25s;
  --time-transition-projects: 0.5s;

  /* Paddings */
  --wrap-top: env(safe-area-inset-top, 0);
  --wrap-right: env(safe-area-inset-right, 0);
  --wrap-bottom: env(safe-area-inset-bottom, 0);
  --wrap-left: env(safe-area-inset-left, 0);
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: system-ui, sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.625;
  color: var(--text-color);
  background: var(--background-color);
  border: 0;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
}

body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  border: 0;
}

img {
  border: none;
}

a {
  color: var(--brand-color);
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: var(--transition);
  transform-origin: 0 50%;
}

a:hover {
  color: var(--text-color);
}

a:active {
  filter: blur(2px);
}

a:not([class]) {
  position: relative;
  border-bottom: 1px solid currentColor;
}

a:not([class])::before {
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  display: block;
  pointer-events: none;
  content: '';
  box-shadow: 0 0 2px 4px var(--brand-color);
  opacity: 0;
  transition: var(--transition);
}

a:not([class]):focus::before {
  opacity: 1;
}

svg {
  display: block;
  fill: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition: none !important;
    animation: none !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222;
    --text-color: #fff;
    --brand-color: #ff3c60;
  }
}
