@function px2rem($pixels, $context: 16px) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1rem;
}

$brand: #011936;
$brand-light: #5D6C7F;

$text: #222;

$transition-small: .2s;
$transition: .25s;
$transition-big: .4s;

$timeTransitionProjects: .5s;

$maxWidth: 900px;
$offsetWrap: 25px;

%visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

@mixin link() {
	color: currentColor;
	transform-origin: 0 50%;
	cursor: pointer;
	text-decoration: none;
	transition: $transition;

	&:hover {
		color: $brand-light;
	}

	&:focus {
		outline: 4px auto $brand;
	}

	&:active {
		filter: blur(2px);
	}
}
