<div class={styles.root} aria-hidden="true">
  <div
    class={cx(
      styles.wrap,
       {[styles.wrapCenter]: projectsActive}
     )}
  >
    <picture>
      <source srcSet="/assets/images/iam/iam-crop-450w.webp" media="(max-width:400px) and (max-height:280px)" type="image/webp"/>
      <source srcSet="/assets/images/iam/iam-crop-600w.webp" media="(max-width:550px) and (max-height:380px)" type="image/webp"/>
      <source srcSet="/assets/images/iam/iam-crop-900w.webp" media="(max-width:900px) and (max-height:600px)" type="image/webp"/>
      <source srcSet="/assets/images/iam/iam-crop.webp" media="(max-width:900px)" type="image/webp"/>

      <source srcSet="/assets/images/iam/iam-crop-450w.jpg" media="(max-width:400px) and (max-height:280px)"/>
      <source srcSet="/assets/images/iam/iam-crop-600w.jpg" media="(max-width:550px) and (max-height:380px)"/>
      <source srcSet="/assets/images/iam/iam-crop-900w.jpg" media="(max-width:900px) and (max-height:600px)"/>
      <source srcSet="/assets/images/iam/iam-crop.jpg" media="(max-width:900px)"/>

      <source srcSet="/assets/images/iam/iam-700.webp" media="(max-height: 650px)" type="image/webp"/>
      <source srcSet="/assets/images/iam/iam-1000.webp" media="(max-height: 950px)" type="image/webp"/>
      <source srcSet="/assets/images/iam/iam.webp" type="image/webp"/>
      <source srcSet="/assets/images/iam/iam-700.jpg" media="(max-height: 650px)"/>
      <source srcSet="/assets/images/iam/iam-1000.jpg" media="(max-height: 950px)"/>

      <img src="/assets/images/iam/iam.jpg" alt="" class={styles.image}/>
    </picture>
  </div>
</div>

<script>
  import cx from 'classnames'

  import styles from './Main.module.scss'

  export default {
    helpers: {
      cx,
      styles,
    },
  };
</script>
