mixin Main
	.b-main(aria-hidden='true')
		.b-main__wrap
			picture
				source(srcset='../assets/images/iam/iam-crop-450w.webp' media='(max-width:400px) and (max-height:280px)' type='image/webp')
				source(srcset='../assets/images/iam/iam-crop-600w.webp' media='(max-width:550px) and (max-height:380px)' type='image/webp')
				source(srcset='../assets/images/iam/iam-crop-900w.webp' media='(max-width:900px) and (max-height:600px)' type='image/webp')
				source(srcset='../assets/images/iam/iam-crop.webp' media='(max-width:900px)' type='image/webp')
				source(srcset='../assets/images/iam/iam-crop-450w.jpg' media='(max-width:400px) and (max-height:280px)')
				source(srcset='../assets/images/iam/iam-crop-600w.jpg' media='(max-width:550px) and (max-height:380px)')
				source(srcset='../assets/images/iam/iam-crop-900w.jpg' media='(max-width:900px) and (max-height:600px)')
				source(srcset='../assets/images/iam/iam-crop.jpg' media='(max-width:900px)')
				source(srcset='../assets/images/iam/iam-700.webp' media='(max-height: 650px)' type='image/webp')
				source(srcset='../assets/images/iam/iam-1000.webp' media='(max-height: 950px)' type='image/webp')
				source(srcset='../assets/images/iam/iam.webp' type='image/webp')
				source(srcset='../assets/images/iam/iam-700.jpg' media='(max-height: 650px)')
				source(srcset='../assets/images/iam/iam-1000.jpg' media='(max-height: 950px)')
				img.b-main__image(src='../assets/images/iam/iam.jpg' alt='' )
