include ../photo/photo
include ../external-link/external-link

mixin home()
	main.home(itemscope itemtype="http://schema.org/Person")
		.home__wrap
			+photo

			.home__header
				h1.home__title
					span(itemprop="name") Иван
					span(itemprop="familyName") Соловьев
				h2.home__specialty(itemprop="jobTitle") Frontend разработчик

			.home__text(itemprop="knowsAbout")
				p Я работаю, самообучаюсь и провожу эксперименты каждый день, чтобы стать лучшим в своей деятельности.
				p Помимо этого, для разнообразия, изучаю Go и Java. Развлекаюсь с C/C++ для программирования МК.
				p По-моему мнению, сайты - это просто инструменты. Люди, которые их используют, и опыт, который они при этом получают, именно это имеет наибольшее значение.

			.home__social
				!= `Найти меня можно здесь: `
				+external-link("http://t.me/solovev_one")(itemprop="sameAs") Telegram
				!= `, `
				+external-link("mailto:ivan@solovev.one")(itemprop="email") ivan@solovev.one
				!= `, `
				+external-link("https://github.com/isolovev")(itemprop="sameAs") GitHub
