.home {
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
  padding: 25px;
  margin: 0 auto;
  background: var(--background-color);
}

.home__wrap {
  box-sizing: border-box;
  padding: var(--wrap-top, 0) var(--wrap-right, 0) var(--wrap-bottom, 0) var(--wrap-left, 0);
}

.home__header {
  margin: 0 0 var(--section-bottom-offset);
  line-height: 1;
  text-align: center;
}

.home__title {
  padding: 0;
  margin: 0;
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
  opacity: 0.99;
}

.home__specialty {
  display: inline-block;
  padding: 5px 10px;
  margin: 0;
  font-weight: 400;
  color: var(--brand-text-color);
  background: var(--brand-color);
}

@media (max-width: 900px) {
  .home {
    max-width: 60%;
  }
}

@media (max-width: 750px) {
  .home {
    max-width: none;
  }

  .home__title {
    font-size: calc(35px + 2vw);
  }
}

@media (max-width: 500px) {
  .home {
    padding: var(--base-line-height);
  }
}
