include ../photo/photo
include ../contacts/contacts
include ../activity/activity
include ../about/about
include ../external-link/external-link

mixin home()
	main.home(itemscope itemtype="http://schema.org/Person")
		.home__wrap
			+photo

			.home__header
				h1.home__title
					span(itemprop="name")= name
					=" "
					span(itemprop="familyName")= last_name
				h2.home__specialty(itemprop="jobTitle")= specialty

			+contacts
			+activity
			+about
