{#if !hide}
  <main class={styles.root}>
    <div class={styles.container}>
      <div
        class={cx(
          styles.wrap,
          {[styles.wrapAnimation]: animate},
        )}
      >
        <h1 class={styles.pageTitle}>{info.title} – {info.specialty}</h1>

        <div class={styles.heading}>
          <a href={routeNames.home} class={styles.back}>
            <IconBack/>
          </a>

          <h2 class={styles.title}>{page.title}</h2>
        </div>

        <div class={styles.text}>{page.text}</div>
      </div>
    </div>
  </main>
{/if}


<script>
  import cx from 'classnames'

  import styles from './About.module.scss'
  import IconBack from '../IconBack/IconBack.html'
  import routeNames from '../../utils/routeNames'

  export default {
    helpers: {
      cx,
      styles,
      routeNames,
    },

    components: {
      IconBack,
    },

    oncreate() {
      const { show } = this.get();

      this.set({
        animate: show,
        hide: !show,
      });
    },

    onupdate({ changed, current, previous }) {
      const {show, hide} = current;
      const prevShow = previous ? previous.show : false;

      if (!show && !hide && prevShow) {
        this.set({
          animate: false,
        });

        setTimeout(() => {
          if (!show) {
            this.set({
              hide: true,
            });
          }
        }, 400);

        return;
      }


      if (show && hide && !prevShow) {
        this.set({
          hide: false,
        });

        setTimeout(() => {
          this.set({
            animate: true,
          });
        }, 60);
      }
    },

    data: () => ({
      animate: false,
      hide: true,
    }),
  };
</script>
