include ../Photo/Photo
include ../More/More
include ../ExternalLink/ExternalLink

mixin Home
	.home
		.home__content
			+Photo

			.home__header
				h1.home__title Иван Соловьев
				h2.home__specialty Frontend разработчик

			.home__text
				p Я работаю, самообучаюсь и провожу эксперименты каждый день, чтобы стать лучшим в своей деятельности.
				p Помимо этого, для разнообразия, изучаю Go. Развлекаюсь с C/C++ для программирования МК. Также интересуюсь Java.
				p По-моему мнению, сайты - это просто инструменты. Люди, которые их используют, и опыт, который они при этом получают, именно это имеет наибольшее значение.

			.home__social
				!= `Найти меня можно здесь: `
				+ExternalLink("http://t.me/solovev_one") Telegram
				!= `, `
				+ExternalLink("mailto:ivan@solovev.one") ivan@solovev.one
				!= `, `
				+ExternalLink("https://github.com/isolovev") GitHub

			+More
