{#if !hide || force}
  <main
    class={cx(
      styles.root,
      {[styles.rootShow]: show}
    )}
  >
    <div class={styles.container}>
      <div
        class={cx(
          styles.wrap,
          {[styles.wrapAnimation]: animate},
        )}
      >
        <h1 class={styles.title}>{data.main}</h1>
        <h2 class={styles.subtitle}>{data.specialty}</h2>

        <nav class={styles.nav}>
          <ul class={styles.navList}>
            <li class={styles.navItem}>
              <a class={styles.navLink} href={routeNames.about}>{Dictionary.headings.about}</a>
            </li>
            <li class={styles.navItem}>
              <a class={styles.navLink} href={routeNames.projects}>{Dictionary.headings.projects}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </main>
{/if}

<script>
  import cx from 'classnames'

  import styles from './Home.module.scss'
  import routeNames from '../../utils/routeNames'
  import {Dictionary} from '../../utils/Dictionary'

  export default {
    helpers: {
      cx,
      routeNames,
      styles,
      Dictionary,
    },

	  oncreate() {
      const { show } = this.get();

      this.set({
        animate: show,
        hide: !show,
      });
    },

    onupdate({ changed, current, previous }) {
      const {show, hide} = current;
      const prevShow = previous ? previous.show : false;

      if (!show && !hide && prevShow) {
        setTimeout(() => {
          if (!show) {
            this.set({
              hide: true,
            });
          }
        }, 400);

        return;
      }

      if (show && hide && !prevShow) {
        this.set({
          hide: false,
        });

        requestAnimationFrame(() => {
          this.set({
            animate: true,
          });
        });
      }
    },

    data: () => ({
      animate: false,
      hide: true,
    }),
  };
</script>
