.home {
	position: relative;
}

	.home__content {
		position: relative;
		min-height: 100vh;
		width: 100%;
		max-width: 600px;
		box-sizing: border-box;
		background: #fff;
		padding: var(--base-line-height) calc(var(--base-line-height) * 2);
		margin: 0 auto;
	}

		.home__header {
			text-align: center;
			line-height: 1;
			margin: 0 0 var(--base-line-height);
		}

			.home__title {
				margin: 0;
				padding: 0;
				font-size: 50px;
				font-weight: 600;
				line-height: 1;
				opacity: 0.99;
			}

			.home__specialty {
				margin: 0;
				padding: 5px 10px;
				font-weight: 400;
				background: var(--brand);
				color: #fff;
				display: inline-block;
			}

		.home__text {}

			.home__text p {
				padding: 0;
				margin: 0 0 0.5em;
			}

		.home__social {
			margin: calc(var(--base-line-height) * 1) 0 0;
		}

@media (max-width: 900px) {
	.home__content {
		max-width: 60%;
	}
}

@media (max-width: 750px) {
	.home__content {
		max-width: none;
	}

		.home__title {
			font-size: calc(35px + 2vw);
		}
}

@media (max-width: 500px) {
	.home__content {
		padding: var(--base-line-height);
	}
}
