.draft {
	position: relative;
	transition: var(--transition);
	transition-property: transform, filter;

	box-sizing: border-box;
	margin: 0 0 calc(3 * var(--base-line-height));

	display: flex;
	align-items: flex-start;
}

	.draft__info {
		flex: 1 1 auto;
		box-sizing: border-box;
		padding: 0 0 0 calc(2 * var(--base-line-height));
		order: 1;
	}

		.draft__title {
			font-size: 20px;
			line-height: var(--base-line-height);
			margin: 0;
			letter-spacing: 0.02em;
		}

		.draft__text {
			font-weight: 300;
		}

		.draft__link {
			margin: var(--base-line-height) 0 0;
		}

	.draft__screens {
		flex: 0 0 300px;
		box-sizing: border-box;
		position: relative;
	}

			.draft__screens--offset {
				padding-bottom: calc(3 * var(--base-line-height));
			}

@media (max-width: 750px) {
	.draft {
		display: block;
		margin: 0 0 calc(2 * var(--base-line-height));
	}

		.draft__info {
			padding: 0 0 var(--base-line-height);
		}

			.draft__link {
				margin: 0;
			}

		.draft__screens {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
		}

				.draft__screens--offset {
					padding: 0;
				}
}
