mixin Photo
	.photo
		img.photo__image(src="../components/Photo/photo@2.jpg" alt=""
		srcset="../components/Photo/photo.jpg 250w, ../components/Photo/photo@2.jpg 500w, ../components/Photo/photo@3.jpg 750w")
