.error {
  display: flex;
  height: 100vh;
  padding: var(--wrap-top, 0) var(--wrap-right, 0) var(--wrap-bottom, 0) var(--wrap-left, 0);
  background: var(--background-color);
}

.error__wrap {
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  padding: 0 15px;
  margin: auto;
  text-align: center;
}

.error__title {
  font-size: 130px;
  font-weight: 600;
  line-height: 1;
}

.error__title span {
  display: inline-block;
  transform: scaleX(-1);
}

.error__text {
  font-size: 18px;
}
