{#if mobile}
  <div
    class={cx(
      styles.root,
      {[styles.rootOnly]: only},
    )}
    ref:root
  >
    <div class={styles.wrap}>
      <img
        ref:image
        class={styles.image}
        alt=""
        src=""
        data-src={mobile}
        data-src-webp={mobile_webp}
        on:load="onLoad()"
      />

      {#if !loaded}
        <IconLoading />
      {/if}
    </div>
  </div>
{/if}

<script>
  import cx from "classnames";
  import styles from "./ProjectImageMobile.module.scss";
  import {createLazyImage, destroyLazyImage} from "../../utils/lazyImage";

  export default {
    helpers: {
      cx,
      styles,
    },

    components: {
      IconLoading: "../IconLoading/IconLoading.html",
    },

    data: () => ({
      loaded: false,
    }),

    methods: {
      onLoad() {
        this.set({
          loaded: true,
        });
      },
    },

    onupdate() {
      if (this.refs.root) {
        this.observer = createLazyImage(this.refs.image, this.refs.root)
      }
    },

    ondestroy() {
      if (this.observer) {
        destroyLazyImage(this.observer);
      }
    },
  };
</script>
