@import "../../styles/var";

.root {
  border: $projectBorder;
  background: $projectBorderColor;
  border-radius: $projectCornerRadius;
  height: 0;
  position: absolute;
  top: 30%;
  left: 70%;
  padding: 0 0 60%;
  width: 100px;
  transform: translateZ(0);
}

    .rootOnly {
      position: relative;
      top: auto;
      left: auto;
      width: 50%;
      margin-left: auto;
      padding: 0 0 80%;
    }

  .wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    border: 1px solid rgba(#000, .2);
  }

    .image {
      display: block;
      width: 100%;
    }

@media (max-width: $media-medium) {
  .root,
  .rootOnly {
    position: static;
    padding: 0;
    height: 300px;
    width: 150px;
    display: flex;
    box-sizing: border-box;
    margin: 0;
  }

    .wrap {
      position: static;
      width: 100%;
    }
}

@media (max-width: $media-small) {
  .root {
    margin: $general-line-height 0 0;
    max-height: 250px;
    max-width: 200px;
  }

      .rootOnly {
        margin: 0;
      }
}
