include head/head
include home/home

doctype html
html(lang="ru")
	+head("index")

	body
		+home


		div
			img(src="https://mc.yandex.ru/watch/52864804" style="position:absolute; left:-9999px;" alt="")
