@import "../../styles/var";

.nav {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

	.nav__item {
		margin: 0;
		padding: 0;
		display: block;
		transform: translateZ(0);

		&:not(:first-child) {
			margin-left: 2rem;
		}
	}

		.nav__link {
			@include link();
			line-height: $general-line-height;
			text-transform: lowercase;
			font-weight: 300;
			padding: .35em 5px .5em;
			position: relative;
			display: inline-block;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				height: 2px;
				background: $text;
				left: 0;
				bottom: .2em;
				width: calc(50% + 1px);
				transform-origin: 100% 50%;
				transition: $transition;
			}

			&::before {
				left: 50%;
				transform-origin: 0 50%;
			}


			&:hover,
			&:focus {
				&::before,
				&::after {
					transform: scale(0);
				}
			}

			&:focus {
				outline: 7px auto $brand;
			}
		}

@media (max-width: $media-small-medium) {
	.nav {
		flex-wrap: wrap;
		justify-content: space-around;
		margin: -#{$offsetWrap} 0 0;
	}

		.nav__item {
			flex: 0 0 50%;
			min-width: 250px;
			padding: $offsetWrap 0 0;

			&:not(:first-child) {
				margin: 0;
			}
		}

			.nav__link {
				display: inline;
			}
}
