@import "../../styles/var";

.root {
  border: $projectBorder;
  background: $projectBorderColor;
  border-radius: $projectCornerRadius;
  height: 0;
  position: relative;
  padding: 0 0 56.25%;
  margin: 15px 0 0;
  max-width: 300px;

  &::after {
    content: '';
    position: absolute;
    right: #{-1 * $projectBorderWidth};
    left: #{-1 * $projectBorderWidth};
    top: -20px;
    height: 20px;
    border-radius: $projectCornerRadius $projectCornerRadius 0 0;
    background: $projectBorderColor;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: -14px;
    left: 3px;
    background: #e84c63;
    border-radius: 50%;
    width: 9px;
    height: 9px;
  }
}

  .wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    border: 1px solid rgba(#000, .2);
  }

    .image {
      display: block;
      width: 100%;
    }

@media (max-width: $media-medium) {
  .root {
    max-height: 285px;
    height: auto;
    width: 100%;
    padding: 0;
    margin-right: $general-line-height;
    display: flex;
    box-sizing: border-box;
  }

    .wrap {
      position: static;
      width: 100%;
    }
}

@media (max-width: $media-small) {
  .root {
    max-width: none;
    width: 100%;
  }
}
