{#if desktop}
<div class={styles.root} ref:root>
    <div class={styles.wrap}>
      <img
        ref:image
        class={styles.image}
        alt=""
        src=""
        data-src={desktop}
        data-src-webp={desktop_webp}
        on:load="onLoad()"
      />

      {#if !loaded}
        <IconLoading />
      {/if}
    </div>
  </div>
{/if}

<script>
  import styles from "./ProjectImageDesktop.module.scss";
  import {createLazyImage, destroyLazyImage} from "../../utils/lazyImage";

  export default {
    helpers: {
      styles,
    },

    components: {
      IconLoading: "../IconLoading/IconLoading.html",
    },

    data: () => ({
      loaded: false,
    }),

    methods: {
      onLoad() {
        this.set({
          loaded: true,
        });
      },
    },

    onupdate() {
      if (this.refs.root) {
        this.observer = createLazyImage(this.refs.image, this.refs.root)
      }
    },

    ondestroy() {
      if (this.observer) {
        destroyLazyImage(this.observer);
      }
    },
  };
</script>
